NET  "RSTN"       LOC = "AA8"     | IOSTANDARD = "LVCMOS33";
NET  "clk40m"     LOC = "AB12"    | IOSTANDARD = "LVCMOS33" | TNM_NET = "CLK_IN40x";
TIMESPEC "TS_CLK_IN40x" = PERIOD "CLK_IN40x" 25.0000 ns HIGH 50% INPUT_JITTER 100.0ps;
NET "clk40m" CLOCK_DEDICATED_ROUTE = FALSE;
NET  "LED"        LOC = "N22"     | IOSTANDARD = "LVCMOS33";