NET  "clk40m"     LOC = "AB12"    | IOSTANDARD = "LVCMOS33" | TNM_NET = "CLK_IN40x";
TIMESPEC "TS_CLK_IN40x" = PERIOD "CLK_IN40x" 25.0000 ns HIGH 50% INPUT_JITTER 100.0ps;

NET "clk40m" CLOCK_DEDICATED_ROUTE = FALSE;
//PIN "Gen/clk_buf2.O" CLOCK_DEDICATED_ROUTE = FALSE;
//PIN "Gen/clk_buf3.O" CLOCK_DEDICATED_ROUTE = FALSE;


NET  "SD[14]"     LOC = "Y14"     | IOSTANDARD = "LVCMOS33" | PULLUP;//IO2[1] until
NET  "SD[15]"     LOC = "V13"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[12]"     LOC = "AB14"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[13]"     LOC = "AA14"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[10]"     LOC = "Y13"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[11]"     LOC = "AB13"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[8]"      LOC = "Y12"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[9]"      LOC = "W13"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[6]"      LOC = "U10"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[7]"      LOC = "AA12"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[4]"      LOC = "AB10"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[5]"      LOC = "AB11"    | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[13]"    LOC = "Y11"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[2]"      LOC = "V9"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[3]"      LOC = "Y10"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[0]"      LOC = "AA10"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "SD[1]"      LOC = "AB9"     | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[18]"    LOC = "AB8"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "CSN"        LOC = "Y9"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "RSTN"       LOC = "AA8"     | IOSTANDARD = "LVCMOS33";
NET  "PME"   	  LOC = "AB7"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "CMD"  	  LOC = "V7"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "INTRN"      LOC = "Y8"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "RDN"    	  LOC = "Y7"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "WRN"    	  LOC = "AB6"     | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[26]"    LOC = "Y6"      | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[27]"    LOC = "Y5"      | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[28]"    LOC = "AA6"     | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[29]"    LOC = "W6"      | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[30]"    LOC = "AB5"     | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[31]"    LOC = "AB4"     | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[32]"    LOC = "AA4"     | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[33]"    LOC = "Y4"      | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[34]"    LOC = "W4"      | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[35]"    LOC = "Y3"      | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[36]"    LOC = "AB3"     | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[37]"    LOC = "AB2"     | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET  "IO2[38]"    LOC = "AA2"     | IOSTANDARD = "LVCMOS33" | PULLUP;//IO2[38]

NET  "LED"        LOC = "N22"     | IOSTANDARD = "LVCMOS33";